@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  background: url(/img/bgspaces.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Orbitron", sans-serif;
}

.restart_container {
  color: white;
  font-size: 10rem;
  text-align: end;
  margin-right: 560px;
}

.restart_container_hidden {
  color: white;
  font-size: 10rem;
  text-align: end;
  display: none;
}

.restart_container:hover {
  color: yellow;
}

.menu_container {
  color: white;
  font-size: 10rem;
  text-align: start;
  margin-top: -300px;
  margin-left: 560px;
}

.menu_container_hidden {
  color: white;
  font-size: 10rem;
  text-align: start;
  display: none;
}

.menu_container:hover {
  color: yellow;
}

#canvas {
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 5px solid black;
}

#canvasHidden {
  display: none;
}

#meteor {
  font-size: 30rem;
}

#puntos {
  color: aqua;
}

#primarycontrols img {
  margin-right: 200px;
  margin-bottom: -200px;
}

.menu__container {
  color: lightgray;
  border-radius: 15%;
  background-image: url(https://lh3.googleusercontent.com/proxy/j-StljxCI2JK30lTFCIGxBxT2Ti5Q1Q8Guo-ie95vJjmkp0KNHTlqxYlsVW0utqs3QtaAXJZ-5Coixsr);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 100%;
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.menu__container_hidden {
  display: none;
}

.text_container {
  text-align: center;
  font-size: 75px;
  padding: 5%;
}

.text_container h1 {
  margin-bottom: 5%;
  font-size: 15rem;
}

.text_container h1 {
  margin-bottom: 5%;
  font-family: "Galactic", sans-serif;
  font-size: 40rem;
  -webkit-animation: breathing 1s ease-out infinite normal;
  animation: breathing 2s ease-out infinite normal;
  -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.text_container h2 {
  text-align: start;
  font-size: 10rem;
}

.text_container li {
  text-align: start;
  text-decoration: none;
  list-style: none;
  font-size: 5rem;
  line-height: 150px;
}

#start {
  font-family: "Galactic", sans-serif;
  font-size: 30rem;
  transition: all 500ms;
}

#start:hover {
  color: yellow;
  font-size: 35rem;
}

#danger {
  color: red;
}
